@model OlympicTeamsViewModel
@{
    ViewData["Title"] = "Team Details";
}

<h2 class="text-center p-2">Team Details</h2>

<div class="row">
    <div class="col">
        <ul class="list-group text-center">
            <li class="list-group-item">
                <img src="~/images/@Model.OlympicTeam.FlagImage" alt="" />
                <h3>@Model.OlympicTeam.Name</h3>
            </li>
            <li class="list-group-item">
                <h4>Game: @Model.OlympicTeam.OlympicGame.Name</h4>
            </li>
            <li class="list-group-item">
                <h4>Category: @Model.OlympicTeam.OlympicCategory.Name</h4>
            </li>
            <li class="list-group-item">
                <form asp-controller="Favorites" asp-action="Add" method="post">
                    <a asp-action="Index" class="btn btn-primary"
                        asp-route-activeGame="@Model.ActiveGame"
                        asp-route-activeCat="@Model.ActiveCat">
                        Return to Home Page
                    </a>
                    <button type="submit" class="btn btn-primary">Add to Favorites</button>
                    <input type="hidden" asp-for="OlympicTeam.OlympicTeamID" />
                </form>
            </li>
        </ul>
    </div>
</div>