@model TicketViewModel

<div class="row">
    <div class="col-md-2">
        <form asp-action="Filter" method="post">
            <div class="mb-3">
                <label class="form-label">Status:</label>
                <select name="filter" class="form-select" asp-items="@(new SelectList(Model.Statuses, "StatusId", "Name", Model.Filters.StatusId))">
                    <option value="all">All</option>
                </select>
            </div>
            <button type="submit">Filter</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-primary">
                Clear
            </a>
        </form>
    </div>
    <div class="col-md-10">
        <form asp-action="MarkComplete" method="post" asp-route-id="@Model.Filters.FilterString">
            <table class="table table-bordered table-striped mt-2">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Sprint Number</th>
                        <th>Point Value</th>
                        <th>Status</th>
                        <th class="w-25"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Ticket ticket in Model.Tickets)
                    {
                        <tr>
                            <td>@ticket.Name</td>
                            <td>@ticket.Description</td>
                            <td>@ticket.SprintNumber</td>
                            <td>@ticket.PointValue</td>
                            <td>@ticket.Status.Name</td>
                            <td>
                                @if (@ticket.StatusId != "done")
                                {
                                    <button type="submit"
                                            class="btn-sm" name="@nameof(ticket.Id)" value="@ticket.Id">
                                        Mark Completed
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
        <form asp-action="DeleteComplete" method="post" asp-route-id="@Model.Filters.FilterString">
            <a asp-action="Add" class="btn btn-primary"> Add new ticket</a>
            <button type="submit"> Delete completed tickets</button>
        </form>
    </div>
</div> 